* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qrcode-container {
  width: 300px;
  height: 300px;
  overflow: hidden;

  // 2974 是 3000（组件赋值的大小） - 12 * 2 的 padding - 1 * 2 的 border
  .ant-qrcode {
    padding: 0;
    width: 2974px !important;
    height: 2974px !important;
    border-radius: 0;
  }

  canvas {
    transform: scale(calc((300 - 2)/2974));
    transform-origin: top left;
  }
}

.history-text {
  white-space: break-spaces;
  word-break: break-all;
  word-wrap: break-word;
}